<!doctype html>
<html>
<meta charset="UTF-8">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Busca por modelos,empresa</title>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  </head>
<body>
	<div class="form-group input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
 </div>
 	<table id="tabela" class="table table-hover">
  <thead>
      <tr>
          <th>Marcas</th>
          <th>Modelos</th>
          <th>Preço Minino</th>
          <th>Preço Máximo</th>
      </tr>
      <div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
</div>
  </thead>
  <tbody>
      <tr>
          <th>devo@flexomat.com</th>
          <td>66672</td>
          <td>941-964-8535</td>
          <td>http://gmail.com</td>
      </tr>
  
	     <tr>
          <th>henry@mountdev.net</th>
          <td>35889</td>
          <td>941-964-9543</td>
          <td>http://dotnet.ca</td>
      </tr>
  </tbody>
 </table>
<script>
 $('input#txt_consulta').quicksearch('table#tabela tbody tr');
 </script>
</body>
</html>